
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<p>
    @using (Html.BeginForm("Upload", "Good", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="text" name="id" value="@ViewBag.GoodId" hidden /><br />
        <input type="file" name="fileUpload" multiple /><br />
        <input type="submit" name="Submit" id="SubmitSingle" value="Upload" />
    }
</p>