
@{
    ViewBag.Title = "Index";
}

<h2>Загрузка одного файла</h2>


<p>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="fileUpload" /><br />
        <input type="submit" name="upload" id="SubmitSingle" value="Загрузить" />
    }
</p>


<h2>Загрузка нескольких файлов</h2>


<p>
    @using (Html.BeginForm("MultiplyUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="fileUploadMulti" multiple/><br />
        <input type="submit" name="upload" id="SubmitSingle" value="Загрузить" />
    }
</p>
